.config-view-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    padding: 4em;
}

.config-panel > h2 {
    font-size: 2em;
    color: white;
    width: 100%;
    text-align: center;
}

.config-panel {
    display: flex;
    flex-direction: column;
    background-color: rgb(127, 127, 255);
    width: 100%;
    height: 100%;
    border-radius: 1em;
    position: relative;
    padding: 2em;
}

.btn-close-config {
    position: absolute;
    right: 1%;
    top: 2%;
    border-radius: 1em;
    background-color: rgb(86, 86, 255);
    border-color: transparent;
}

.btn-close-config:hover {
    background-color: rgb(60, 60, 255);
}

.btn-close-config > svg {
    font-size: 4em;
    color: white;
}

.config-options {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2em;
    width: 100%;
    padding-top: 4em;
}

.config-options > button {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.5em;
    padding: 0.5em;
    background-color: rgb(155, 155, 255);
    border-color: transparent;
    border-radius: 0.25em;
}

.config-options > button > svg {
    width: 100%;
    font-size: 4em;
    color: white;
}

.config-options > button > span {
    color: white;
}