.actions-tool-bar,
.driving-tool-bar {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.actions-tool-bar {
  width: 100%;
  justify-content: end;
  align-items: center;
  gap: 2em;
  padding: 0.75em;
}

.btn-tool-normal,
.btn-tool-selected {
  display: flex;
  flex-direction: row;
  border-radius: 0.5em;
  border-color: transparent;
  justify-content: center;
  align-items: center;
  background-color: rgb(86, 86, 255);
  height: 100%;
  aspect-ratio: 1 / 1;
}


.btn-tool-selected {
  outline-offset: 2px;
  outline-width: 0.5em;
  outline-color: rgb(86, 86, 255);
  outline-style: outset;
}

.btn-tool-normal > svg,
.btn-tool-selected > svg {
  font-size: 4em;
  padding: 0.25em;
  color: white;
}

.btn-tool-normal > span,
.btn-tool-selected > span {
  font-size: 2em;
}


.driving-tool-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 1em;
  gap: 2em;
}

.driving-tool-bar > button {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  border-radius: 0.5em;
  border-color: transparent;
  padding: 0.5em 1.5em;
  justify-content: space-between;
  align-items: center;
}

.driving-tool-bar > button > span {
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: white;
}

.driving-tool-bar > button > svg {
  font-size: 4em;
  color: white;
}

.btn-driving {
  background-color: rgb(86, 86, 255);
}

.btn-stop {
  background-color: rgb(255, 86, 86);
}

.btn-stop:disabled {
  background-color: rgb(207, 70, 70);
}

.btn-stop:disabled > svg,
.btn-stop:disabled > span {
  color: rgb(206, 206, 206);
}


@media (min-width: 768px) {
  .driving-tool-bar {
    flex-direction: row;
  }
}